    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:09
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-3gp-file-black-interface-symbol:before { content: "\f100"; }
.flaticon-3gp-file-rounded-rectangular-black-interface-symbol:before { content: "\f101"; }
.flaticon-aac-file-black-interface-symbol:before { content: "\f102"; }
.flaticon-aac-file-type-rounded-rectangular-solid-interface-symbol:before { content: "\f103"; }
.flaticon-ai-design-document-black-interface-symbol:before { content: "\f104"; }
.flaticon-ai-file-type-rounded-rectangular-solid-symbol:before { content: "\f105"; }
.flaticon-aiff-file-black-rounded-rectangular-interface-symbol:before { content: "\f106"; }
.flaticon-aiff-file-type-solid-black-interface-symbol:before { content: "\f107"; }
.flaticon-app-document-black-interface-symbol:before { content: "\f108"; }
.flaticon-app-file-black-rounded-rectangle-symbol:before { content: "\f109"; }
.flaticon-asp-file-black-rounded-rectangle-interface-symbol:before { content: "\f10a"; }
.flaticon-asp-file-type-solid-black-interface-symbol:before { content: "\f10b"; }
.flaticon-avi-document-black-interface-symbol:before { content: "\f10c"; }
.flaticon-avi-file-black-rounded-rectangular-interface-symbol:before { content: "\f10d"; }
.flaticon-bmp-image-file-interface-symbol-of-black-rounded-rectangle:before { content: "\f10e"; }
.flaticon-bmp-image-file-solid-interface-symbol:before { content: "\f10f"; }
.flaticon-c-file-black-interface-symbol:before { content: "\f110"; }
.flaticon-c-file-black-rounded-rectangle-interface-symbol:before { content: "\f111"; }
.flaticon-cpp-document-black-interface-symbol:before { content: "\f112"; }
.flaticon-cpp-file-rounded-rectangular-black-interface-symbol:before { content: "\f113"; }
.flaticon-css-file-black-interface-symbol:before { content: "\f114"; }
.flaticon-css-file-rounded-rectangular-black-interface-symbol:before { content: "\f115"; }
.flaticon-dat-file-solid-black-interface-symbol:before { content: "\f116"; }
.flaticon-dat-file-type-rounded-rectangular-black-interface-symbol:before { content: "\f117"; }
.flaticon-dmg-document-black-interface-symbol:before { content: "\f118"; }
.flaticon-dmg-file-black-rounded-rectangular-symbol-of-interface:before { content: "\f119"; }
.flaticon-doc-document-file-black-interface-symbol:before { content: "\f11a"; }
.flaticon-doc-file-type-rounded-black-rectangular-symbol-of-interface:before { content: "\f11b"; }
.flaticon-docx-file-black-interface-symbol:before { content: "\f11c"; }
.flaticon-docx-file-type-rounded-rectangular-black-solid-interface-symbol:before { content: "\f11d"; }
.flaticon-dot-document-black-interface-symbol:before { content: "\f11e"; }
.flaticon-dot-file-black-rounded-rectangular-interface-symbol:before { content: "\f11f"; }
.flaticon-dotx-document-black-interface-symbol:before { content: "\f120"; }
.flaticon-dotx-file-rounded-rectangular-solid-black-interface-symbol:before { content: "\f121"; }
.flaticon-dwg-file-black-rounded-rectangular-interface-symbol:before { content: "\f122"; }
.flaticon-dwg-file-format-solid-black-interface-symbol:before { content: "\f123"; }
.flaticon-dxf-file-black-interface-symbol:before { content: "\f124"; }
.flaticon-dxf-file-black-rounded-rectangular-interface-symbol:before { content: "\f125"; }
.flaticon-eps-file-black-interface-symbol:before { content: "\f126"; }
.flaticon-eps-file-type-rounded-rectangular-solid-interface-symbol:before { content: "\f127"; }
.flaticon-exe-document-black-interface-symbol:before { content: "\f128"; }
.flaticon-exe-file-black-rounded-rectangular-interface-symbol:before { content: "\f129"; }
.flaticon-flv-file-type-black-interface-symbol:before { content: "\f12a"; }
.flaticon-flv-file-type-black-rounded-rectangular-interface-symbol:before { content: "\f12b"; }
.flaticon-gif-image-file-black-interface-symbol:before { content: "\f12c"; }
.flaticon-gif-image-file-black-rounded-rectangular-interface-symbol:before { content: "\f12d"; }
.flaticon-h-file-black-interface-symbol:before { content: "\f12e"; }
.flaticon-h-file-type-rounded-black-rectangular-interface-symbol:before { content: "\f12f"; }
.flaticon-html-document-black-interface-symbol:before { content: "\f130"; }
.flaticon-html-file-rounded-rectangular-black-interface-symbol-of-web-pages:before { content: "\f131"; }
.flaticon-ics-file-black-solid-interface-symbol:before { content: "\f132"; }
.flaticon-ics-file-type-rounded-rectangular-black-symbol-of-interface:before { content: "\f133"; }
.flaticon-iso-file-interface-symbol-of-black-rounded-rectangle:before { content: "\f134"; }
.flaticon-iso-file-type-black-solid-interface-symbol:before { content: "\f135"; }
.flaticon-java-black-file-interface-symbol:before { content: "\f136"; }
.flaticon-java-rounded-rectangular-black-interface-symbol:before { content: "\f137"; }
.flaticon-jpg-compressed-image-file-black-interface-symbol:before { content: "\f138"; }
.flaticon-jpg-compressed-image-file-black-rounded-rectangular-interface-symbol:before { content: "\f139"; }
.flaticon-key-black-file-type-interface-symbol:before { content: "\f13a"; }
.flaticon-key-file-black-rounded-rectangle-interface-symbol:before { content: "\f13b"; }
.flaticon-m4v-file-black-interface-symbol:before { content: "\f13c"; }
.flaticon-m4v-file-type-rounded-black-rectangular-interface-symbol:before { content: "\f13d"; }
.flaticon-mid-file-type-black-interface-symbol:before { content: "\f13e"; }
.flaticon-mid-file-type-interface-symbol-of-black-rounded-rectangular-shape:before { content: "\f13f"; }
.flaticon-mov-file-type-rounded-rectangular-solid-black-interface-symbol-of-movies:before { content: "\f140"; }
.flaticon-mov-solid-black-interface-symbol-of-file-type:before { content: "\f141"; }
.flaticon-mp3-compressed-music-file-interface-symbol-of-rounded-rectangular-black-shape:before { content: "\f142"; }
.flaticon-mp3-file-type-black-interface-symbol:before { content: "\f143"; }
.flaticon-mp4-file:before { content: "\f144"; }
.flaticon-mp4-rounded-rectangular-black-interface-symbol:before { content: "\f145"; }
.flaticon-mpg-file-solid-black-interface-symbol:before { content: "\f146"; }
.flaticon-mpg-file-type-black-rounded-rectangular-interface-symbol:before { content: "\f147"; }
.flaticon-num-file-type-black-solid-interface-symbol:before { content: "\f148"; }
.flaticon-numbers-file-black-rectangular-interface-symbol:before { content: "\f149"; }
.flaticon-odp-file-black-interface-symbol:before { content: "\f14a"; }
.flaticon-odp-file-type-black-rounded-rectangle-interface-symbol:before { content: "\f14b"; }
.flaticon-ods-file-black-interface-symbol:before { content: "\f14c"; }
.flaticon-ods-file-rounded-black-rectangle-symbol:before { content: "\f14d"; }
.flaticon-odt-file-black-interface-symbol:before { content: "\f14e"; }
.flaticon-odt-file-black-rounded-rectangular-interface-symbol:before { content: "\f14f"; }
.flaticon-ots-file-black-rounded-rectangular-interface-symbol:before { content: "\f150"; }
.flaticon-ots-file-type-symbol:before { content: "\f151"; }
.flaticon-ott-file-black-interface-symbol:before { content: "\f152"; }
.flaticon-ott-file-type-rectangular-solid-symbol-of-interface:before { content: "\f153"; }
.flaticon-pdf-file-black-rounded-rectangular-interface-symbol:before { content: "\f154"; }
.flaticon-pdf-file-type-symbol:before { content: "\f155"; }
.flaticon-pgs-black-interface-symbol:before { content: "\f156"; }
.flaticon-pgs-file-rounded-rectangular-black-solid-interface-symbol:before { content: "\f157"; }
.flaticon-php-file-black-rounded-rectangular-interface-symbol:before { content: "\f158"; }
.flaticon-php-programmation-file-black-interface-symbol:before { content: "\f159"; }
.flaticon-png-image-file-black-rounded-rectangular-interface-symbol:before { content: "\f15a"; }
.flaticon-png-image-file-type-black-interface-symbol:before { content: "\f15b"; }
.flaticon-pps-file-black-interface-symbol:before { content: "\f15c"; }
.flaticon-pps-file-black-solid-rounded-rectangular-interface-symbol:before { content: "\f15d"; }
.flaticon-ppt-file-solid-interface-symbol:before { content: "\f15e"; }
.flaticon-ppt-file-type-rectangular-black-interface-symbol:before { content: "\f15f"; }
.flaticon-psd-file-black-interface-symbol:before { content: "\f160"; }
.flaticon-psd-file-type-black-rounded-rectangular-interface-symbol:before { content: "\f161"; }
.flaticon-py-file-black-rounded-rectangular-interface-symbol:before { content: "\f162"; }
.flaticon-py-file-solid-interface-symbol:before { content: "\f163"; }
.flaticon-qt-file-black-interface-symbol:before { content: "\f164"; }
.flaticon-qt-file-type-black-rounded-rectangular-interface-symbol:before { content: "\f165"; }
.flaticon-rar-file-type:before { content: "\f166"; }
.flaticon-rar-rounded-black-rectangular-interface-symbol:before { content: "\f167"; }
.flaticon-rb-document-black-interface-symbol:before { content: "\f168"; }
.flaticon-rb-file-type-rounded-rectangular-solid-interface-symbol:before { content: "\f169"; }
.flaticon-rtf-document-black-interface-symbol:before { content: "\f16a"; }
.flaticon-rtf-file-black-rounded-rectangular-interface-symbol:before { content: "\f16b"; }
.flaticon-sql-document:before { content: "\f16c"; }
.flaticon-sql-file-black-rounded-rectangular-interface-symbol:before { content: "\f16d"; }
.flaticon-text-document-black-interface-symbol:before { content: "\f16e"; }
.flaticon-text-file-black-symbol-of-rounded-rectangle:before { content: "\f16f"; }
.flaticon-tga-file-rounded-rectangular-black-interface-symbol:before { content: "\f170"; }
.flaticon-tgs-file-black-interface-symbol:before { content: "\f171"; }
.flaticon-tgz-document-black-interface-symbol:before { content: "\f172"; }
.flaticon-tgz-file-black-rounded-rectangular-interface-symbol:before { content: "\f173"; }
.flaticon-tiff-high-quality-image-file-type-black-interface-symbol:before { content: "\f174"; }
.flaticon-tiff-uncompressed-image-file-interface-symbol-of-rounded-rectangular-black-shape:before { content: "\f175"; }
.flaticon-wav-file-type-black-interface-symbol:before { content: "\f176"; }
.flaticon-wav-rounded-rectangular-solid-file-type-interface-symbol:before { content: "\f177"; }
.flaticon-xls-black-file-interface-symbol:before { content: "\f178"; }
.flaticon-xls-black-rounded-rectangular-interface-symbol:before { content: "\f179"; }
.flaticon-xlsx-file-format-black-interface-symbol:before { content: "\f17a"; }
.flaticon-xlsx-file-type-rectangular-solid-symbol:before { content: "\f17b"; }
.flaticon-xml-document-black-interface-symbol:before { content: "\f17c"; }
.flaticon-xml-file-black-rounded-rectangular-interface-symbol:before { content: "\f17d"; }
.flaticon-yml-document-black-interface-symbol:before { content: "\f17e"; }
.flaticon-yml-file-type-rectangular-symbol:before { content: "\f17f"; }
.flaticon-zip-file-black-interface-symbol:before { content: "\f180"; }
.flaticon-zip-file-rounded-rectangular-black-solid-interface-symbol:before { content: "\f181"; }
    
    $font-Flaticon-3gp-file-black-interface-symbol: "\f100";
    $font-Flaticon-3gp-file-rounded-rectangular-black-interface-symbol: "\f101";
    $font-Flaticon-aac-file-black-interface-symbol: "\f102";
    $font-Flaticon-aac-file-type-rounded-rectangular-solid-interface-symbol: "\f103";
    $font-Flaticon-ai-design-document-black-interface-symbol: "\f104";
    $font-Flaticon-ai-file-type-rounded-rectangular-solid-symbol: "\f105";
    $font-Flaticon-aiff-file-black-rounded-rectangular-interface-symbol: "\f106";
    $font-Flaticon-aiff-file-type-solid-black-interface-symbol: "\f107";
    $font-Flaticon-app-document-black-interface-symbol: "\f108";
    $font-Flaticon-app-file-black-rounded-rectangle-symbol: "\f109";
    $font-Flaticon-asp-file-black-rounded-rectangle-interface-symbol: "\f10a";
    $font-Flaticon-asp-file-type-solid-black-interface-symbol: "\f10b";
    $font-Flaticon-avi-document-black-interface-symbol: "\f10c";
    $font-Flaticon-avi-file-black-rounded-rectangular-interface-symbol: "\f10d";
    $font-Flaticon-bmp-image-file-interface-symbol-of-black-rounded-rectangle: "\f10e";
    $font-Flaticon-bmp-image-file-solid-interface-symbol: "\f10f";
    $font-Flaticon-c-file-black-interface-symbol: "\f110";
    $font-Flaticon-c-file-black-rounded-rectangle-interface-symbol: "\f111";
    $font-Flaticon-cpp-document-black-interface-symbol: "\f112";
    $font-Flaticon-cpp-file-rounded-rectangular-black-interface-symbol: "\f113";
    $font-Flaticon-css-file-black-interface-symbol: "\f114";
    $font-Flaticon-css-file-rounded-rectangular-black-interface-symbol: "\f115";
    $font-Flaticon-dat-file-solid-black-interface-symbol: "\f116";
    $font-Flaticon-dat-file-type-rounded-rectangular-black-interface-symbol: "\f117";
    $font-Flaticon-dmg-document-black-interface-symbol: "\f118";
    $font-Flaticon-dmg-file-black-rounded-rectangular-symbol-of-interface: "\f119";
    $font-Flaticon-doc-document-file-black-interface-symbol: "\f11a";
    $font-Flaticon-doc-file-type-rounded-black-rectangular-symbol-of-interface: "\f11b";
    $font-Flaticon-docx-file-black-interface-symbol: "\f11c";
    $font-Flaticon-docx-file-type-rounded-rectangular-black-solid-interface-symbol: "\f11d";
    $font-Flaticon-dot-document-black-interface-symbol: "\f11e";
    $font-Flaticon-dot-file-black-rounded-rectangular-interface-symbol: "\f11f";
    $font-Flaticon-dotx-document-black-interface-symbol: "\f120";
    $font-Flaticon-dotx-file-rounded-rectangular-solid-black-interface-symbol: "\f121";
    $font-Flaticon-dwg-file-black-rounded-rectangular-interface-symbol: "\f122";
    $font-Flaticon-dwg-file-format-solid-black-interface-symbol: "\f123";
    $font-Flaticon-dxf-file-black-interface-symbol: "\f124";
    $font-Flaticon-dxf-file-black-rounded-rectangular-interface-symbol: "\f125";
    $font-Flaticon-eps-file-black-interface-symbol: "\f126";
    $font-Flaticon-eps-file-type-rounded-rectangular-solid-interface-symbol: "\f127";
    $font-Flaticon-exe-document-black-interface-symbol: "\f128";
    $font-Flaticon-exe-file-black-rounded-rectangular-interface-symbol: "\f129";
    $font-Flaticon-flv-file-type-black-interface-symbol: "\f12a";
    $font-Flaticon-flv-file-type-black-rounded-rectangular-interface-symbol: "\f12b";
    $font-Flaticon-gif-image-file-black-interface-symbol: "\f12c";
    $font-Flaticon-gif-image-file-black-rounded-rectangular-interface-symbol: "\f12d";
    $font-Flaticon-h-file-black-interface-symbol: "\f12e";
    $font-Flaticon-h-file-type-rounded-black-rectangular-interface-symbol: "\f12f";
    $font-Flaticon-html-document-black-interface-symbol: "\f130";
    $font-Flaticon-html-file-rounded-rectangular-black-interface-symbol-of-web-pages: "\f131";
    $font-Flaticon-ics-file-black-solid-interface-symbol: "\f132";
    $font-Flaticon-ics-file-type-rounded-rectangular-black-symbol-of-interface: "\f133";
    $font-Flaticon-iso-file-interface-symbol-of-black-rounded-rectangle: "\f134";
    $font-Flaticon-iso-file-type-black-solid-interface-symbol: "\f135";
    $font-Flaticon-java-black-file-interface-symbol: "\f136";
    $font-Flaticon-java-rounded-rectangular-black-interface-symbol: "\f137";
    $font-Flaticon-jpg-compressed-image-file-black-interface-symbol: "\f138";
    $font-Flaticon-jpg-compressed-image-file-black-rounded-rectangular-interface-symbol: "\f139";
    $font-Flaticon-key-black-file-type-interface-symbol: "\f13a";
    $font-Flaticon-key-file-black-rounded-rectangle-interface-symbol: "\f13b";
    $font-Flaticon-m4v-file-black-interface-symbol: "\f13c";
    $font-Flaticon-m4v-file-type-rounded-black-rectangular-interface-symbol: "\f13d";
    $font-Flaticon-mid-file-type-black-interface-symbol: "\f13e";
    $font-Flaticon-mid-file-type-interface-symbol-of-black-rounded-rectangular-shape: "\f13f";
    $font-Flaticon-mov-file-type-rounded-rectangular-solid-black-interface-symbol-of-movies: "\f140";
    $font-Flaticon-mov-solid-black-interface-symbol-of-file-type: "\f141";
    $font-Flaticon-mp3-compressed-music-file-interface-symbol-of-rounded-rectangular-black-shape: "\f142";
    $font-Flaticon-mp3-file-type-black-interface-symbol: "\f143";
    $font-Flaticon-mp4-file: "\f144";
    $font-Flaticon-mp4-rounded-rectangular-black-interface-symbol: "\f145";
    $font-Flaticon-mpg-file-solid-black-interface-symbol: "\f146";
    $font-Flaticon-mpg-file-type-black-rounded-rectangular-interface-symbol: "\f147";
    $font-Flaticon-num-file-type-black-solid-interface-symbol: "\f148";
    $font-Flaticon-numbers-file-black-rectangular-interface-symbol: "\f149";
    $font-Flaticon-odp-file-black-interface-symbol: "\f14a";
    $font-Flaticon-odp-file-type-black-rounded-rectangle-interface-symbol: "\f14b";
    $font-Flaticon-ods-file-black-interface-symbol: "\f14c";
    $font-Flaticon-ods-file-rounded-black-rectangle-symbol: "\f14d";
    $font-Flaticon-odt-file-black-interface-symbol: "\f14e";
    $font-Flaticon-odt-file-black-rounded-rectangular-interface-symbol: "\f14f";
    $font-Flaticon-ots-file-black-rounded-rectangular-interface-symbol: "\f150";
    $font-Flaticon-ots-file-type-symbol: "\f151";
    $font-Flaticon-ott-file-black-interface-symbol: "\f152";
    $font-Flaticon-ott-file-type-rectangular-solid-symbol-of-interface: "\f153";
    $font-Flaticon-pdf-file-black-rounded-rectangular-interface-symbol: "\f154";
    $font-Flaticon-pdf-file-type-symbol: "\f155";
    $font-Flaticon-pgs-black-interface-symbol: "\f156";
    $font-Flaticon-pgs-file-rounded-rectangular-black-solid-interface-symbol: "\f157";
    $font-Flaticon-php-file-black-rounded-rectangular-interface-symbol: "\f158";
    $font-Flaticon-php-programmation-file-black-interface-symbol: "\f159";
    $font-Flaticon-png-image-file-black-rounded-rectangular-interface-symbol: "\f15a";
    $font-Flaticon-png-image-file-type-black-interface-symbol: "\f15b";
    $font-Flaticon-pps-file-black-interface-symbol: "\f15c";
    $font-Flaticon-pps-file-black-solid-rounded-rectangular-interface-symbol: "\f15d";
    $font-Flaticon-ppt-file-solid-interface-symbol: "\f15e";
    $font-Flaticon-ppt-file-type-rectangular-black-interface-symbol: "\f15f";
    $font-Flaticon-psd-file-black-interface-symbol: "\f160";
    $font-Flaticon-psd-file-type-black-rounded-rectangular-interface-symbol: "\f161";
    $font-Flaticon-py-file-black-rounded-rectangular-interface-symbol: "\f162";
    $font-Flaticon-py-file-solid-interface-symbol: "\f163";
    $font-Flaticon-qt-file-black-interface-symbol: "\f164";
    $font-Flaticon-qt-file-type-black-rounded-rectangular-interface-symbol: "\f165";
    $font-Flaticon-rar-file-type: "\f166";
    $font-Flaticon-rar-rounded-black-rectangular-interface-symbol: "\f167";
    $font-Flaticon-rb-document-black-interface-symbol: "\f168";
    $font-Flaticon-rb-file-type-rounded-rectangular-solid-interface-symbol: "\f169";
    $font-Flaticon-rtf-document-black-interface-symbol: "\f16a";
    $font-Flaticon-rtf-file-black-rounded-rectangular-interface-symbol: "\f16b";
    $font-Flaticon-sql-document: "\f16c";
    $font-Flaticon-sql-file-black-rounded-rectangular-interface-symbol: "\f16d";
    $font-Flaticon-text-document-black-interface-symbol: "\f16e";
    $font-Flaticon-text-file-black-symbol-of-rounded-rectangle: "\f16f";
    $font-Flaticon-tga-file-rounded-rectangular-black-interface-symbol: "\f170";
    $font-Flaticon-tgs-file-black-interface-symbol: "\f171";
    $font-Flaticon-tgz-document-black-interface-symbol: "\f172";
    $font-Flaticon-tgz-file-black-rounded-rectangular-interface-symbol: "\f173";
    $font-Flaticon-tiff-high-quality-image-file-type-black-interface-symbol: "\f174";
    $font-Flaticon-tiff-uncompressed-image-file-interface-symbol-of-rounded-rectangular-black-shape: "\f175";
    $font-Flaticon-wav-file-type-black-interface-symbol: "\f176";
    $font-Flaticon-wav-rounded-rectangular-solid-file-type-interface-symbol: "\f177";
    $font-Flaticon-xls-black-file-interface-symbol: "\f178";
    $font-Flaticon-xls-black-rounded-rectangular-interface-symbol: "\f179";
    $font-Flaticon-xlsx-file-format-black-interface-symbol: "\f17a";
    $font-Flaticon-xlsx-file-type-rectangular-solid-symbol: "\f17b";
    $font-Flaticon-xml-document-black-interface-symbol: "\f17c";
    $font-Flaticon-xml-file-black-rounded-rectangular-interface-symbol: "\f17d";
    $font-Flaticon-yml-document-black-interface-symbol: "\f17e";
    $font-Flaticon-yml-file-type-rectangular-symbol: "\f17f";
    $font-Flaticon-zip-file-black-interface-symbol: "\f180";
    $font-Flaticon-zip-file-rounded-rectangular-black-solid-interface-symbol: "\f181";